/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1.5;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
html,
body {
  font-family: 'Lato', sans-serif;
  color: black;
  background: #e7e8e4;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Abril Fatface', cursive;
  color: #34421e;
}
a {
  text-decoration: none;
}
p {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: 'Lato', sans-serif;
}
ul {
  font-family: 'Lato', sans-serif;
}
/* unvisited link */
a:link {
  color: #34421e;
}
/* visited link */
a:visited {
  color: #34421e;
}
/* mouse over link */
a:hover {
  color: #34421e;
}
/* selected link */
a:active {
  color: #34421e;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  background: #f4f4f0;
  opacity: 0.9;
}
@media (max-width: 785px) {
  .navigation {
    flex-direction: column;
    position: relative;
    padding-bottom: 10px;
  }
}
.navigation .nav_menu_left {
  display: flex;
  justify-content: space-between;
  width: 33%;
}
@media (max-width: 785px) {
  .navigation .nav_menu_left {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 785px) and (max-width: 785px) {
  .navigation .nav_menu_left li {
    padding: 2px 0;
  }
}
.navigation .nav_menu_left a {
  font-size: 1.5rem;
}
@media (max-width: 785px) {
  .navigation .nav_menu_left a {
    font-size: 2.7rem;
  }
}
.navigation .logo_txt {
  display: flex;
  justify-content: center;
  width: 32%;
  background: url(/img/logo.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 50px;
  height: 90px;
  width: 90px;
  cursor: pointer;
}
@media (max-width: 785px) {
  .navigation .logo_txt {
    order: -1;
  }
}
.navigation .nav_menu_right {
  display: flex;
  width: 35%;
  align-items: center;
  justify-content: space-between;
}
@media (max-width:883px) {
  .navigation .nav_menu_right {
    padding-left: 10px;
  }
}
@media (max-width: 785px) {
  .navigation .nav_menu_right {
    flex-direction: column;
    width: 100%;
    text-align: center;
    padding: 0;
  }
}
.navigation .nav_menu_right a {
  font-size: 1.5rem;
}
@media (max-width: 785px) {
  .navigation .nav_menu_right a {
    font-size: 2.1rem;
  }
}
.navigation .nav_menu_right .gold_btn {
  background: #c19434;
  text-align: center;
  margin-left: 10px;
  border-radius: 3px;
  padding: 5px;
}
@media (max-width: 785px) {
  .navigation .nav_menu_right .gold_btn {
    margin-left: 0;
    margin-top: 4px;
  }
}
.navigation .nav_menu_right .gold_btn a {
  color: #f1f1ef;
  padding: 5px;
}
header .video-container {
  margin-top: 9%;
  margin-bottom: 5%;
  position: relative;
}
@media (max-width: 785px) {
  header .video-container {
    margin-top: 1%;
  }
}
header .video-container video {
  height: auto;
  vertical-align: middle;
  width: 100%;
  opacity: 0.8;
}
header .video-container .overlay-desc {
  background: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
header .video-container .overlay-desc h1 {
  color: white;
  font-size: 6rem;
  text-align: center;
  width: 67%;
}
@media (max-width: 785px) {
  header .video-container .overlay-desc h1 {
    font-size: 5rem;
  }
}
@media (max-width: 547px) {
  header .video-container .overlay-desc h1 {
    font-size: 4.5rem;
  }
}
@media (max-width: 500px) {
  header .video-container .overlay-desc h1 {
    font-size: 3.5rem;
  }
}
header .video-container .overlay-desc h2 {
  color: white;
  font-size: 4rem;
  text-align: center;
  width: 67%;
}
@media (max-width: 785px) {
  header .video-container .overlay-desc h2 {
    font-size: 3rem;
  }
}
@media (max-width: 547px) {
  header .video-container .overlay-desc h2 {
    font-size: 2.5rem;
  }
}
@media (max-width: 500px) {
  header .video-container .overlay-desc h2 {
    font-size: 1.5rem;
  }
}
header .video-container .overlay-desc .cta_btn_container {
  width: 20%;
  opacity: 0.8;
  border-radius: 10px;
}
@media (max-width: 547px) {
  header .video-container .overlay-desc .cta_btn_container {
    width: 35%;
  }
}
header .video-container .overlay-desc .cta_btn {
  display: flex;
  justify-content: center;
  color: black;
  font-size: 2.2rem;
  text-align: center;
  background: white;
  border-radius: 3px;
}
.first_container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media (max-width:883px) {
  .first_container {
    width: 90%;
    margin: 0 auto;
  }
}
.first_container .h2_cont {
  width: 100%;
  text-align: center;
  margin-bottom: 3%;
}
.first_container .h2_cont h2 {
  font-size: 2.4rem;
}
.first_container .content_container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .first_container .content_container {
    flex-direction: column;
  }
}
.first_container .content_container h3 {
  font-size: 1.8rem;
}
@media (max-width: 500px) {
  .first_container .content_container h3 {
    font-size: 2rem;
  }
}
.first_container .content_container p {
  font-size: 1.4rem;
}
@media (max-width: 500px) {
  .first_container .content_container p {
    font-size: 1.6rem;
  }
}
.first_container .content_container a {
  font-weight: 600;
  font-size: 1.1rem;
}
@media (max-width: 500px) {
  .first_container .content_container a {
    font-size: 1.3rem;
  }
}
.first_container .content_container .all_items_first_cont {
  width: 30%;
}
@media (max-width: 500px) {
  .first_container .content_container .all_items_first_cont {
    width: 100%;
    margin-bottom: 10%;
  }
}
.first_container .content_container .all_items_first_cont img {
  max-width: 100%;
  height: auto;
}
.second_container {
  margin-bottom: 5%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media (max-width:883px) {
  .second_container {
    width: 90%;
    margin: 5% auto;
  }
}
.second_container h5 {
  font-size: 1.3rem;
}
@media (max-width: 500px) {
  .second_container h5 {
    font-size: 1.5rem;
  }
}
.second_container p {
  font-size: 1.4rem;
}
@media (max-width: 500px) {
  .second_container p {
    font-size: 1.6rem;
  }
}
.second_container a {
  font-weight: 600;
  font-size: 1.1rem;
}
@media (max-width: 500px) {
  .second_container a {
    font-size: 1.3rem;
  }
}
.second_container .h2_cont {
  width: 100%;
  text-align: center;
  margin-bottom: 3%;
}
.second_container .h2_cont h2 {
  font-size: 2.4rem;
}
.second_container .season_container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .second_container .season_container {
    flex-direction: column;
  }
}
.second_container .season_container .all_items_second_cont {
  width: 30%;
}
@media (max-width: 500px) {
  .second_container .season_container .all_items_second_cont {
    width: 100%;
    margin-bottom: 10%;
  }
}
.second_container .season_container .all_items_second_cont img {
  max-width: 100%;
  height: auto;
}
.content_main {
  border: 1px solid red;
  margin-top: 9%;
  width: 100%;
}
.content_main h1 {
  font-size: 2.4rem;
}
.developers_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 auto;
}
.developers_container .developer_items {
  margin-top: 15%;
  width: auto;
  font-size: 2rem;
}
.developers_container .developer_items .person_name {
  margin-top: 10px;
  font-weight: bold;
  font-size: 1.6rem;
}
.developers_container .developer_items .person_position {
  font-size: 0.875em;
  line-height: 1.71;
  margin-top: 4px;
  color: #999;
}
.form_container {
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media (max-width:883px) {
  .form_container {
    width: 90%;
    margin: 0 auto 5%;
  }
}
.form_container .news_container {
  display: flex;
  margin: 0 auto;
  position: relative;
  width: 100%;
  height: 400px;
  background-image: url(/img/news_back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 547px) {
  .form_container .news_container {
    background-position: center center;
  }
}
.form_container .newsletter_container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  align-self: flex-end;
  flex-direction: column;
  right: 0;
  left: 0;
  position: absolute;
  height: 72%;
  width: 70%;
  margin: 0 auto;
}
@media (max-width: 785px) {
  .form_container .newsletter_container {
    flex-direction: column;
  }
}
@media (max-width: 547px) {
  .form_container .newsletter_container {
    align-self: center;
    height: 60%;
    margin: 0;
    width: 100%;
  }
}
.form_container .newsletter_container h2 {
  color: white;
  font-size: 2.4rem;
  text-align: center;
}
@media (max-width: 785px) {
  .form_container .newsletter_container h2 {
    font-size: 1.8rem;
  }
}
.form_container .newsletter_container p {
  text-align: center;
  color: white;
}
@media (max-width: 547px) {
  .form_container .newsletter_container p {
    display: none;
  }
}
.form_container .newsletter_container .newsletter {
  display: flex;
}
@media (max-width: 547px) {
  .form_container .newsletter_container .newsletter {
    display: flex;
    flex-direction: column;
  }
}
.form_container .newsletter_container .newsletter input[type='text'] {
  color: white;
  background: transparent;
  border: none;
  height: 40px;
}
.form_container .newsletter_container .newsletter ::placeholder {
  color: white;
  opacity: 1;
  text-align: center;
}
.form_container .newsletter_container .newsletter .sub_btn {
  margin-bottom: 4px;
  background: white;
  padding: 5px;
  width: 80px;
  border: 1px solid white;
  cursor: pointer;
}
footer .footer_bar {
  display: flex;
  background: #c19434;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
}
footer .footer_bar .footer_list_left {
  display: flex;
  justify-content: center;
  width: 50%;
}
footer .footer_bar .footer_list_left li a {
  font-size: 1.3rem;
  color: white;
}
footer .footer_bar .footer_list_right {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}
footer .footer_bar .footer_list_right .fa-facebook-square,
footer .footer_bar .footer_list_right .fa-instagram,
footer .footer_bar .footer_list_right .fa-twitter-square,
footer .footer_bar .footer_list_right .fa-youtube-square,
footer .footer_bar .footer_list_right .fa-linkedin {
  color: #f1f1ef;
}
