/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1.5;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Lato', sans-serif;
  color: black;
  background: #e7e8e4;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Abril Fatface', cursive;
  color: #34421e;
}
a {
  text-decoration: none;
}
p {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: 'Lato', sans-serif;
}
ul {
  font-family: 'Lato', sans-serif;
}
/* unvisited link */
a:link {
  color: #34421e;
}
/* visited link */
a:visited {
  color: #34421e;
}
/* mouse over link */
a:hover {
  color: #34421e;
}
/* selected link */
a:active {
  color: #34421e;
}
.container {
  max-width: 1000px;
  min-width: 411px;
  width: 100%;
  margin: 0 auto;
}
.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  background: #f4f4f0;
  opacity: 0.9;
}
@media (max-width: 736px) {
  .navigation {
    flex-direction: column;
    position: relative;
    padding-bottom: 10px;
  }
}
.navigation .nav_menu_left {
  display: flex;
  justify-content: space-evenly;
  width: 33%;
}
@media (max-width: 736px) {
  .navigation .nav_menu_left {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 736px) and (max-width: 736px) {
  .navigation .nav_menu_left li {
    padding: 2px 0;
  }
}
.navigation .nav_menu_left a {
  font-size: 1.5rem;
}
@media (max-width: 736px) {
  .navigation .nav_menu_left a {
    font-size: 2.7rem;
  }
}
.navigation .logo_txt {
  display: flex;
  justify-content: center;
  width: 32%;
}
@media (max-width: 736px) {
  .navigation .logo_txt {
    order: -1;
    width: 100%;
  }
}
.navigation .logo_txt h1 {
  text-align: center;
  font-size: 4.4rem;
}
@media (max-width:857px) {
  .navigation .logo_txt h1 {
    font-size: 4rem;
  }
}
@media (max-width: 736px) {
  .navigation .logo_txt h1 {
    font-size: 4.4rem;
  }
}
.navigation .nav_menu_right {
  padding-left: 55px;
  display: flex;
  width: 35%;
  align-items: center;
}
@media (max-width:857px) {
  .navigation .nav_menu_right {
    padding-left: 10px;
  }
}
@media (max-width: 736px) {
  .navigation .nav_menu_right {
    flex-direction: column;
    width: 100%;
    text-align: center;
    padding: 0;
  }
}
.navigation .nav_menu_right a {
  font-size: 1.5rem;
}
@media (max-width: 736px) {
  .navigation .nav_menu_right a {
    font-size: 2.7rem;
  }
}
.navigation .nav_menu_right .gold_btn {
  background: #c19434;
  text-align: center;
  margin-left: 50px;
  border-radius: 3px;
  padding: 5px;
}
@media (max-width: 736px) {
  .navigation .nav_menu_right .gold_btn {
    margin-left: 0;
  }
}
.navigation .nav_menu_right .gold_btn a {
  color: #f1f1ef;
  padding: 5px;
}
