h1{
    color:@calltoactioncolor;
    font-family: Bradley Hand, cursive;
    font-size: 5rem;
}
.topofAbout{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.teampic{
height: auto;
width: auto;
max-height: 10rem;
max-width: 25rem;
}
.contentofAbout{
 display: flex;
 justify-content: center;
 flex-direction: column;
 align-items: center;
 h1{
     background-color:purple;
     width: 350px;
 }
}
.topofAbout{
    color: purple;}

    @media (max-width: 500px){
        h1{
            background-color: blue;
        }
        .topofAbout{
            display: flex;
            flex-direction: column;
        }
    }
   




