@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');


html{
    font-size: 62.5%;
    width: 80%;
    margin: 0 auto
}
body{
background-image:url(/images/foodbackground.jpg);

}
.topnav{
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    font-size: 2rem;
}

.cookpic{
        max-width:100%;
        height:auto;
}

a{
    text-decoration: none;
    padding: 2rem;
    color:@navcolor;
}

.topnav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    align-items: baseline;
    .cookpic{
        height: auto;
    width: auto;
    max-height: 10rem;
    max-width: 25rem;
    }
}

.middlepageText{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3.5rem;
    font-family: @textfont;
}

.calltoAction{
    font-size: @calltoactionsize;
    color: @calltoactioncolor
    
}
@media (max-width: 500px){
    .topnav a{
        color: black;
    }
}