//Flex
.flexBox(@flexDirection, @justContent, @alignItems,@width) {
  display: flex;
  flex-direction: @flexDirection;
  justify-content: @justContent;
  align-items: @alignItems;
  width: @width;
}
.flexContainerCenter(@justContent, @alignItems) {
  display: flex;
  justify-content: @justContent;
  align-items: @alignItems;
}
//Flex End
